/*=========================================
				BASIC
=========================================*/

body {
	font-family: Arial;
}

#main_form {
	width: 850px;
	margin: auto;
	background: white;	
}

#header_form {
	height: 160px;
}

#footer_form {
	height: 15px;
	font-size: 12px;
	background: purple;
	padding-left: 20px;
	padding-top: 5px;
	letter-spacing: 1px;
	text-align: center;
	color: white;
	width: 850px;
	margin: auto;
}

/*=========================================
				HEADER
=========================================*/

#info {
	height: 115px;
}

#info_left {
	height: 115px;
	width: 140px;
	float: left;
	padding-top: 5px;
	padding-left: 20px;
}

#info_center {
	height: 115px;
	width: 380px;
	float: left;
	font-size: 12px;
	padding-top: 5px;
	padding-left: 30px;
}

#info_right {
	height: 115px;
	width: 250px;
	float: left;
	font-size: 12px;
	padding-top: 5px;
	padding-left: 30px;
}

#header_title {
	height: 25px;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	padding-top: 10px;
	color: purple;
	
	border-top-color: purple;
	border-top-style: solid;
	border-top-width: 2px;
	
	border-bottom-color: purple;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	
	word-spacing: 8px;
	letter-spacing: 2px;
}

/*=========================================
				BLOCKS
=========================================*/

.block_title{
	height: 15px;
	font-size: 12px;
	background: purple;
	padding-left: 20px;
	padding-top: 5px;
	letter-spacing: 1px;
	color: white;
}

#block1_data {
	background: white;
	padding: 5px;
	font-family: Arial;
}

#block2_data {
	background: white;
	padding: 5px;
	font-family: Arial;
}

#block3_data {
	background: white;
	padding: 5px;
	font-family: Arial;
}

#block3_footer {
	background: white;
	padding: 5px;
	font-family: Arial;
}

#block4_data {
	background: white;
	padding: 5px;
	font-family: Arial;
}

#block5_table {
	background: white;
	padding: 5px;
	font-family: Arial;
}

#block5_table_tr {
	height: 25px;
	font-size: 12px;
	background: purple;
	padding-left: 20px;
	padding-top: 5px;
	letter-spacing: 1px;
	color: white;	
}

.aa {
	width: 50px;
}

.ergasies {
	width: 100%;
}